MY_DB_HOST=localhost
MY_DB_NAME=first
MY_DB_PASS=first
MY_DB_USER=first

PG_DB_HOST=localhost
PG_DB_NAME=first
PG_DB_PASS=first
PG_DB_PORT=5432
PG_DB_USER=first

#PROXY="msk-proxy.megafon.ru:3128"
#PROXY_AUTH=""
